.loading {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 100;
}
.loading:after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #595bd4 transparent #5566ff transparent;
  animation: loading 0.75s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
